.homeCards {
    display: flex; 
    margin-top: 5%; 
    justify-content: center;
    height: 100vh;
    overflow: auto;
}
.card-body {
    border: solid 1px black; 
    border-radius: 3%;
    height: 60%; 
    width: 20%; 
    background-color: rgb(150, 150, 150); 
    box-shadow: 10px 10px 5px grey inset;
}

.card-title {
    text-align: center;
}

