.listnavbar {
    display: flex;  
    background-color: var(--container-dark);
    /* background-image: linear-gradient(#272727, #292525); */
    align-items: center; 
    width: auto;
    border-bottom: 1px solid var(--buttons);
    height: 4%; 
    position: fixed; 
    width: 100vw; 
    z-index: 20;
    padding-left: 2%;
    top: 0;
    font-weight: 300;
}

.listappLink {

}

.listappName {
   color: var(--color-1);
   font-size: 1em;
}

.listprofileLink {
    margin-left: auto;
    margin-right: 6%; 
}

.listprofileButton {
    border: .5px solid var(--buttons);
    border-radius: 50%; 
    height: 3vh;  
    align-self: center; 
    width: 3vh; 
    background-color: var(--buttons);
    color: var(--color-1);

}

.navType {
  display: flex;
  align-items: center;
  align-content: space-between;
}

Link {
  margin-left: 10%;
}


.listappLink {
    color: #b7b3a6;
}

.navType {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 80vw; 
  justify-content: space-evenly;
}


.listType {
  display: flex;
  flex-direction: column; 
  height: 20vh;
  justify-content: space-between; 
  text-align: center;
  margin-top: 10%;
}

a {
  text-decoration: none;  
  font-weight: bold;
  color: var(--color-2); 
  font-size: .75rem;
  
}

.dark-mode.toggle {
  height: 5vh;
  align-items: center;
}

:root {
  --container-dark: rgba(39, 44, 53, 1);
  --card-body: rgba(67, 76, 91, 1);
  --buttons: rgb(47, 59, 73);
  --color-1: white;
  --color-2: #9c9c9cdd;
  --submit: #305e94;
  --border-1: rgb(47, 59, 73);
  --border-2: black; 
  --background: linear-gradient(to right top, #1a222f, #202835, #262e3a, #2d3440, #333a46);
}

.darkmode {
  --container-dark: rgba(39, 44, 53, 1);
  --card-body: rgba(67, 76, 91, 1);
  --buttons: rgb(47, 59, 73);
  --color-1: white;
  --color-2: #9c9c9cdd;
  --submit: #305e94;
  --border-1: rgb(47, 59, 73);
  --border-2: black; 
  --background: linear-gradient(to right top, #1a222f, #202835, #262e3a, #2d3440, #333a46);
}










  