.listnavbar {
    display: flex;  
    background-color: rgba(39, 44, 53, 1);
    /* background-image: linear-gradient(#272727, #292525); */
    align-items: center; 
    width: auto;
    border-bottom: 1px solid rgb(47, 59, 73);
    height: 5%; 
    position: fixed; 
    width: 100vw; 
    z-index: 20;
    padding-left: 2%;
    top: 0;
    font-weight: 300;
}

.listappLink {

}

.listappName {
   color: #9c9c9cdd;
   font-size: 1em;
}

.listprofileLink {
    margin-left: auto;
    margin-right: 6%; 
}

.listprofileButton {
    border: .5px solid rgb(47, 59, 73);
    border-radius: 50%; 
    height: 3vh;  
    align-self: center; 
    width: 3vh; 
    background-color: rgb(47, 59, 73);
    color: white;

}

.navType {
  display: flex;
  align-items: center;
  align-content: space-between;
}

Link {
  margin-left: 10%;
}


.listappLink {
    color: #b7b3a6;
}

.navType {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 80vw; 
  justify-content: space-evenly;
}












  