.userPicture {
    width: 5%; height: 5%; 
    border: solid 1px black;
}

.userStatistics {
    width: 8%; height: 5%; 
    border: solid 1px black;
}

.userList {
    width: 70%; 
}

.userHome {
    width: 2%; height: 2%; 
    border: solid 1px black;
}