.userPicture {
   
}

.userStatistics {
    
}

.userList {
    margin-top: 5%;
    margin-left: 6%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.userHome {
   
}
.rating{
    text-align: right;
    margin-right: 5%;
    margin-top: 60%;
}