html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgba(39, 44, 53, 1);
  height: auto;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './Styles/homePage.css'; 
@import './Styles/navbar.css';
@import './Styles/mediaPage.css';
@import './Styles/movieList.css';
@import './Styles/listNavBar.css';
@import './Styles/profilePage.css';